:root {
  --snake-color: linear-gradient(180deg, brown, rgb(165, 112, 42));
  --btn-hover-focus: linear-gradient(-100deg, #3ca55c, #b5ac49);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(230, 227, 227);
  background-image: url("dirt-bg.JPG");
  background-repeat: none;
  background-size: cover;
  color: black;
  font-size: 1rem;
  font-family: "Shizuru", cursive;
}

h1 {
  margin: 10px 0;
  font-size: 3.5rem;
  line-height: 1.6;
  color: rgb(102, 165, 60);
}

p {
  font-size: 2rem;
  font-weight: 900;
  margin: 0 auto 15px;
}

span {
  color: #3ca55c;
}

.container {
  max-width: 90%;
  width: 900px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 0em;
  margin: 5px auto;
}

.grid-container {
  margin: 0 auto;
  display: flex;
}

.grid {
  margin: 0 2.5em;
  width: 400px;
  height: 400px;
  background-color: rgb(134, 134, 134);
  background-image: url("grass-bg.JPG");
  background-repeat: none;
  background-size: cover;
  background-blend-mode: multiply;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: flex-start;
}

.controls-container {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 0;
  margin: 0;
}

.controls-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controls {
  border: none;
  border-radius: 2px;
  background: var(--snake-color);
  color: white;
  width: 2em;
  height: 2em;
  font-size: 2rem;
}

.controls:hover {
  cursor: pointer;
}

.controls:active {
  font-size: 1.8rem;
}

.btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
}

.btn {
  font-size: 1.2rem;
  font-family: "Shizuru", cursive;
  color: #ebebeb;
  background: linear-gradient(100deg, #3ca55c, #b5ac49);
  border: none;
  border-radius: 5px;
  margin: 20px auto;
  padding: 0.6em 1.1em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 350ms ease;
}

.btn:hover {
  cursor: pointer;
  font-size: 1.3rem;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background: var(--btn-hover-focus) !important;
}

.btn:focus {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background: var(--btn-hover-focus) !important;
}

.btn:active {
  font-size: 1.05rem;
  background: var(--snake-color) !important;
}

.square {
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

.square-big-grid {
  width: 20px;
  height: 20px;
}
.square-small-grid {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.snake {
  background-image: var(--snake-color);
}

.apple {
  border: none;
  border-radius: 50px 50px 70px 70px;
  background-image: radial-gradient(rgb(201, 2, 2), rgb(136, 38, 38));
}

.apple::before {
  content: "";
  width: 0.3%;
  height: 1.8%;
  border-radius: 0px 4px 3px 3px;
  background-color: #3f1d0a;
  position: absolute;
}

@media (max-width: 720px) {
  .game-container {
    flex-direction: column;
  }
  .controls-container,
  #btn-controls {
    display: none !important;
  }
}

@media (max-width: 550px) {
  .btn-container {
    flex-direction: column;
  }
}
